<html>
    <head>

    </head>
    <body>
        <form action="/es1" method = "post">
            <p>Inserisci il nome  <input type = "text" name = "nome" /></p>
            <p>Inserisci il cognome <input type = "text" name = "cognome" /></p>
            <p><input type = "submit" value = "invia" /></p>
        </form>

        
        {% for genere in list %}
            <a href="/es2/{{genere}}">{{genere}}</a><br>
        {% endfor %}

        <form action="/es3" method = "post">
            <p><input type = "submit" value = "clienti per ogni stato" /></p>
        </form>

        <form action="/es4" method = "post">
            <p><input type = "submit" value = "lo stato con il maggior numero di clienti" /></p>
        </form>
        <form action="/es5" method = "post">
            <p><input type = "submit" value = "grafico" /></p>
        </form>

        <form action="/es6" method = "post">
            <p><input type = "submit" value = "clienti senza email" /></p>
        </form>
        <form action="/es7" method = "post">
            <p>Inserisci l'email  <input type = "text" name = "email" /></p>
            <p><input type = "submit" value = "invia" /></p>
        </form>
    </body>
</html>